/*---------GENERAL---------*/

html {
  box-sizing: border-box;  
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: white;
  font:url("fonts/Overpass-SemiBold.ttf") ;
  
}

/*---------HEADER---------*/

header {  
  background:linear-gradient(90deg,rgb(255, 143, 112),hsl(353, 100%, 62%));
  /*background-image: url(images/bg-pattern-intro.svg) 75%;
  background-size: 230%;
  background-position: -400px ;
  background-repeat: no-repeat;
  padding: 5%;*/
  border-radius: 0 0 0 90px;
  height: 525px;
  padding-bottom: 0%;
}

.veloHeader{
  background-image: url(images/bg-pattern-intro.svg) ;
  opacity: 75%;
  background-size: 230%;
  background-position: -400px ;
  background-repeat: no-repeat;
  padding-bottom: 0;
  height: 525px;
}

.upperHeader {
  align-items: center;
  display: flex;
  padding:5%;
  
}

.navBar {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.accessButtons {
  margin-left: auto;
}

button{
  border-radius: 20px;
  width:120px ;
  padding: 10px;
}

.button1 {
  color: white;
  background-color:hsl(0, 91%, 70%);
  
  border: none;
  width: max-content;
}

.button2 {
  color: orangered;
  background-color: white;
  border: orangered;
  margin: 10px;
  /*padding: 10px;
  border-radius: 20px;*/
  
}
.button3 {
  color: white;
  background-color:transparent;
  border: white solid 1px;
  margin: 10px;
  /*
  padding: 10px;
  border-radius: 20px;*/
  
}

ul {
  margin-left: 20px;
  color: white;
  display: flex;
}
li{
  list-style: none;
  margin-right: 20px;
}
.centralHeader {
  text-align: center;
  height: 345px;
}

h1 {
  display: block;
  color: white;
  font-style: <link rel="preconnect" href="https://fonts.gstatic.com">;
  

}

p {
  color: white;
  font-style: <link rel="preconnect" href="https://fonts.gstatic.com">;
  padding: 20px;
}

.continueButton {
  display: flex;
}

/*---------SECTIONS---------*/

.section {
  display: flex;
}

 {
  display: block;
  height: 800px;
  /*background-image: url(images/illustration-editor-desktop.svg) ;
  background-repeat: no-repeat ;
  background-position: 190%;*/
}
.withTitle .imageBox{
  background-image: url(images/illustration-editor-desktop.svg) ;
  background-repeat: no-repeat ;
  background-position:600px  ;
  background-size: 100%;
  
}
.withTitle .textBox{
  max-width: 625px;
}
.sectionTitle {
  text-align: center;
  margin: 50px;
  
  
}
.textBox{
  margin-top: auto;
  margin-bottom: auto;
  /*width: 50%;
  max-width: 600px;*/
}
.simpleBox {
  display: flex;
  max-height: 600px;
}
.componentsOffered {
  margin: 20px;
}
.darkBackground {

  background-color: rgb(62, 62, 90);
  background-image: url("images/bg-pattern-circles.svg");
  display: flex;
  border-radius: 0 90px 0 90px;
  max-height: 300px;
  
  
}
.darkBackground .imageBox{
  display:flex;
  align-content: center;
  justify-content: center;
  margin-top: -100px;
  max-height: 500px;
  width: 50%;
}

.imageBox {
  
  max-height: 500px;
  width: 50%;
  
}

.darkBackground .imageBox img{
  height: 500px;
}

.darkBackground .textBox{
  width: 50%;
  color: white;
}

/*---------FOOTER---------*/

.footer {
  background-color: rgb(40, 37, 49);
  padding: 50px;
  color: white;
  display: flex;
  border-radius: 0 90px 0 0;
}

.navigatorFooter{
  margin: 0 50 0 50;
}
.footer ul{
  margin: auto;
  display:block;
}
.footer li{
  color:  hsl(240, 2%, 79%);
}

/*---------MOVILE---------*/

/*@media (607px)
-pasar todo a display block, 
excepto el logo + menú de navegación compacto 
y los botones deh central header
-poner tamaños máximos a las imágenes
-tal vez haya que modificar los border radius*/